[submodule "BareOgre"]
	path = BareOgre
	url = https://github.com/holocronweaver/BareOgre.git
[submodule "lib/polyvox"]
	path = lib/polyvox
	url = https://holocronweaver@bitbucket.org/holocronweaver/polyvox.git
